title = "Kategória"
url = "/kategoriak/:catslug"
layout = "default"
is_hidden = 0

[ProductList]
sorting = "new"

[CategoryPage]
slug = "{{ :catslug }}"
slug_required = 1
smart_url_check = 0
==
<?php
function onEnd()
{
   $this->page->title = $this->components['CategoryPage']->get()->name;
}
?>
==
{% set category = CategoryPage.get() %}
{% set products = ProductList.make().sort(ProductList.getSorting()).active().category(category.id) %}

<div class="multibox">
    <div class="sidepanel">
        {% partial 'box/categorylist' %} 
    </div>
    <div class="content">
        <h1 class="pagetitle">Kategória: {% if category.parent.name %} {{ category.parent.name }} / {% endif %} {{ category.name }}</h1>
        <hr>
        <section class="productboxes">
            {% if products.isNotEmpty() %}
                {% for product in products %}
                {% set offer = product.offer.first() %}
                <div class="productbox" data-id="{{ product.id }}" onclick="window.location.href='{{ 'productpage'|page({slug: product.slug}) }}'">
                    <div class="hero" style="background-image: url({{ product.preview_image | resize(false, 252, { quality: '95', extension: 'png' }) }});">
                        {% if offer.discount_price > 0 %}
                        <span><i class="fas fa-tag"></i> Akció! -{{ ((offer.discount_price / offer.old_price)*100)|number_format(0,'.',',') }} %</span>
                        {% endif %}
                    </div>
                    <h1>{{ product.name }}</h1>
                    <div class="details">
                        <div class="detail">
                            <i class="fas fa-pallet" style="color: #f6a416"></i> Raktáron <strong>{{ offer.quantity }}</strong> db
                        </div>
                        <div class="detail">
                            <i class="fas fa-money-bill" style="color:green"></i> <strong>{{ offer.price|number_format(0,',','.') }}</strong> {{ offer.currency }}
                        </div>                        
                    </div>                              
                </div>
                {% endfor %}
            {% endif %}
        </section>
    </div>
</div>